@import '~src/app/services/styles/mixin';
@import '~src/app/services/styles/colors';

.page-choose{
    
    margin-top: 50px;
    height: 750px;
}

.page-choose__content{
    display: flex;
    flex-direction: column;
    top: 20%;
    @include sm-desk{
        top: 25%;
    }
    @include tablet{
        top: 20%;
    }
}


card-category{
    width: 20%;
}

.page-choose__txt{
    color: $black;
    width: 80%;
    font-weight: 700;
    padding-bottom: 15px;
    line-height: 57px;
    font-size: 42px;
    @include m-desk{
        line-height: 55px;
        font-size: 33px;
    }
    @include sm-desk{
        line-height: 35px;
        font-size: 25px;
    }
    @include tablet {
        font-size: 35px;
        line-height: 52px;
    }
    @include mobile{
        font-size: 20px;
        line-height: 30px;
    }
}

.categories__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}
