<div class="footer">
    <div class="footer__content content1">
        <div class="footer__upside">
            <div class="footer__callback"> 
                <div class="footer__logo">
                    <a href="#">
                        <img class = "footer__img1"src="../../assets/img/Logo2.png" >
                    </a>
                </div>  
                <a href="tel:+7 (876) 945-73-34" class="footer__num">8 (876) 945-73-34</a>
                <a href="mail:rentoolrnd@mail.ru" class="footer__email">rentoolrnd@mail.ru</a>
                <a href="" class="footer__button button-style">
                    Заказать звонок
                </a>
            </div>

            <footer-category *ngFor = "let cat of category" [dataGet] = "cat"></footer-category>
        </div>
        <!-- <div class="footer__downside">

        </div> -->
        <div class="footer__bottom">
            <a href="" class="footer__term1">Пользовательское соглашение</a>
            <a href="" class="footer__term1">Пользовательское соглашение</a>
            <span class="footer__brand">"Rentool" 2021 © Все права защищены</span>
        </div>
    </div>
</div>