@import '~src/app/services/styles/mixin';
@import '~src/app/services/styles/colors';
.header{
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 200;
    background: none;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $white;
    transition: .3s ease-out;
    @include m-desk{
        padding-top: 20px;
    }
    @include sm-desk{
        padding-top: 10px;
    }
    @include tablet{
        display: none;
    }
    
	@include mobile{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &.background{ 
        padding-top: 10px;
        padding-bottom: 10px;
        transition: .3s ease-out;
    }
}


.header__name{
    position: absolute;
    visibility: hidden;
}

.header__logo{
    width: 30%;
    @include mobile{
        width: 75.35px;
    }
}

.header__img{
    @include mobile{
        width: 100px;
    }
}
.header__part{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include mobile{
        width: 20%;
    }
}

.header__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__txtCall{
    font-size: 20px;
    color: $black;
    line-height: 23px;
    @include m-desk{
        display: none;
    }
    @include sm-desk{
        display: none;
    }
    @include mobile{
        display: none;
    }
}

.header__num{
    color: $black;
    background: transparent;
    border: 1px solid $black;
    margin-left: 20px;
    @include mobile{
        display: none;
    }
    &:hover{
        color: $white;
        background: $black;
        border: 1px solid $black;
    }
}

.header__container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__txtEmail{
    color: $black;
    font-size: 20px;
    text-decoration: underline;
    @include mobile{
        display: none;
    }
}

.header__bucket{
    margin-left: 20px;
    @include mobile{
        width: 30px;
    }
}