<div class = "header">
    <div class="header__content content1">
        <div class="header__logo">
            <a href="#">
                <img src="../../assets/img/Logo.png" >
                <h1 class = "header__name">RenTool</h1>
            </a>
        </div>  
        <div class="header__part">
            <span class="header__txtCall">
                Позвони нам
            </span>
            <a href="tel:+7(876)945-73-34" class="header__num button-style">
                8 (876) 945-73-34
            </a>
        </div> 
        <div class="header__part">
            <div class="header__container">
                <span class="header__txtCall">
                    Напиши нам
                </span>
                <a href="email:rentoolrnd@mail.ru"  class="header__txtEmail">
                    rentoolrnd@mail.ru
                </a>
            </div>
            <a href="#" class = "header__bucket">
                <img src="../../assets/img/bucket.png" >
            </a>
        </div> 
    </div>
</div>
