<header></header>

<div class="big-banner">
    <div class="big-banner__content content1">
        <div class="big-banner__container">
            <h1 class="big-banner__txt">
                Аренда строительного оборудования
            </h1>
            <ul class="big-banner__adv">
                <li>Без залога</li>
                <li>С доставкой</li>
                <li>Широкий ассортимент</li>
                <li>Скидки на длительную аренду</li>
            </ul>
            <a href="" class="big-banner__button button-style">
                Хочу консультацию
            </a>
        </div>
        <img src="../../assets/img/drill.png" class="big-banner__imgDrill">
    </div>
</div>

<div class="terms">
    <div class="terms__content content1">
        <h2 class="terms__txt">
            Условия доставки оборудования
        </h2>
        <div class="terms__container">
            <div class="terms__leftside">
                <p class="terms__description">
                    Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю )
                </p><br/>
                <p class="terms__description">
                    Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю )
                </p>
            </div>
            <img src="../../assets/img/zone.png" alt="" class="terms__zoneImg">  
        </div>
    </div>
</div>

<div class="sale">
    <div class="sale__content content1">
        <h2 class="sale__txt">
            Скидки на длительную аренду
        </h2>

        <a href="" class="sale__button button-style">
            Заказать оборудование
        </a>
    </div>
</div>