@import '~src/app/services/styles/mixin';
@import '~src/app/services/styles/colors';

search-line{
    z-index: 100;
}

.big-banner{
    background-image: url('../../../assets/img/head.png') ; 
    background-size: auto;
    background-position:  center;
    background-repeat: no-repeat;
    height: 850px;
    @include m-desk{
        background-size: cover;
        height: 650px;
    }
    @include sm-desk{ 
        background-size: 100% 95%;
        height: 700px;
    }
    @include tablet{
        // background-image: url('../../assets/img/head1.png') ; 
        height: 900px;
        background-size: auto 110%;
    }
    
    @include mobile{
        background-image: url('../../../assets/img/background2.png') ; 
        height: 720px;
        background-size: 150% 100%;
    }

}

.big-banner__content{
    display: flex;
    flex-direction: column;
    top: 20%;
    @include sm-desk{
        top: 25%;
    }
    @include tablet{
        top: 20%;
    }
}

.big-banner__container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 70;
}


.big-banner__txt{
    color: $white;
    width: 80%;
    font-weight: 700;
    padding-bottom: 15px;
    line-height: 57px;
    font-size: 42px;
    @include m-desk{
        line-height: 55px;
        font-size: 33px;
    }
    @include sm-desk{
        line-height: 35px;
        font-size: 25px;
    }
    @include tablet {
        font-size: 35px;
        line-height: 52px;
    }
    @include mobile{
        font-size: 20px;
        line-height: 30px;
    }
}

.big-banner__adv{
    font-size: 20px;
    color: $white;
    list-style: none;
    margin-top: 35px;
    margin-bottom: 35px;
    
    @include mobile{
        font-size: 16px;
    }
    li{
        padding-left: 25px;
        position: relative;
        margin-bottom: 15px;
        &:before{
            content: '✔';
            position: absolute; top: 0; left: 0;
            color: yellow;
        }
    }
}

.big-banner__button{
    border: 1px solid $yellow;
    color: $black;
    font-weight: 700;
    background: $yellow;
    &:hover{
        border: 1px solid $white;
        color: $white;
        background: $black;
    }
}

.big-banner__imgDrill {
    position: absolute;
    top: -4%;
    left: 40%;
    z-index: 50;
    width: 835px;
    @include m-desk{
        top: 10%;
        width: 715px;
    }
    
    @include sm-desk{
        top: 7%;
        left: 33%;
        width: 731px;
    }
    @include tablet {
        width: 846px;
        top: 80%;
    }
    @include mobile{
        width: 348px;
        top: 103%;
        left: -3%;
    }
}

.how{
    background-color: $black;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.how__img{
    @include m-desk{
        width: 650px;
    }
    @include sm-desk{
        margin-left: 70px;
        width: 650px;
    }
}

.how__txt{
    color: $white;
    width: 80%;
    font-weight: 700;
    padding-bottom: 15px;
    line-height: 57px;
    font-size: 42px;
    @include m-desk{
        line-height: 55px;
        font-size: 33px;
    }
    @include sm-desk{
        line-height: 35px;
        font-size: 25px;
    }
    @include tablet {
        font-size: 35px;
        line-height: 52px;
    }
    @include mobile{
        font-size: 20px;
        width: 100%;
        line-height: 30px;
    }
}

.how__container{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 60px;
    @include mobile{
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
    }
}
.how__leftside{
    width: 50%;
    @include mobile{
        width: 100%;
    }
}

.how__rightside{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile{
        width: 100%;
    }
}

.how__row{
    display: flex;
    flex-direction: row;
   
}

.how__img{
    @include mobile{
        display: none;
    }
}

.border-style{
    border-top: 2px dashed $white;
    border-bottom: 2px dashed $white;
    border-right: 2px dashed $white;
}

.how__cont{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.how__yellow{
    color: $yellow;
}

.how__num{
    width: 65px;
}

.how__num2{
    width: 80px;
    
}

.how__blockTxt{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center; 
    padding: 58px 58px 58px 25px;
    @include m-desk{
        padding: 52px 52px 52px 25px;
    }
    @include sm-desk{
        padding: 40px 30px 40px 15px;
    }
    @include mobile{
        width: 72%;
        padding: 25px 25px;
    }
}

.how__txt2{
    color: $white;
    font-size: 20px; 
    @include mobile{
        font-size: 17px;
    }
}

.how__button{
    border: 1px solid $white;
    color: $black;
    font-weight: 700;
    display: block;
    background: $white;
    @include mobile{
        margin-top: 50px;
    }
    &:hover{
        border: 1px solid $white;
        color: $white;
        background: $black;
    }
}

.terms{
    padding-top: 50px;
}

.terms__txt{
    color: $black;
    width: 80%;
    font-weight: 700;
    padding-bottom: 15px;
    line-height: 57px;
    font-size: 42px;
    @include m-desk{
        line-height: 55px;
        font-size: 33px;
    }
    @include sm-desk{
        line-height: 35px;
        font-size: 25px;
    }
    @include tablet {
        font-size: 35px;
        line-height: 52px;
    }
    @include mobile{
        width: 100%;
        font-size: 20px;
        line-height: 30px;
    }
}

.terms__description{
    font-size: 20px;
    line-height: 37px;
    color: $black;
    
    @include mobile{
        font-size: 17px;
    }
}

.terms__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    @include sm-desk{
        flex-direction: column;
    }
    @include mobile{
        flex-direction: column;
    }
}

.terms__zoneImg{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    @include m-desk{
        width: 700px;
    }
    @include sm-desk{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    @include mobile{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 290px;
    }
}

.sale{
    background-color: $black;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    @include mobile{
        margin-top: 50px;
    }
}

.sale__txt{
    color: $white;
    width: 80%;
    font-weight: 700;
    padding-bottom: 15px;
    line-height: 57px;
    font-size: 42px;
    
    @include mobile{
        font-size: 20px;
        line-height: 30px;
    }
}

.sale__button{
    border: 1px solid $white;
    color: $black;
    font-weight: 700;
    display: block;
    margin-top: 38px;
    margin-bottom: 20px;
    background: $white;
    @include sm-desk{
        width: 100% !important;
        padding: 20px 0 ;
    }
    &:hover{
        border: 1px solid $white;
        color: $white;
        background: $black;
    }
}

.sale__numberProc{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    @include sm-desk{
        flex-direction: column;
    }
    
    @include mobile{
        flex-direction: column;
        width: 95%;
    }
}

.sale-style{
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sm-desk{
        width: 100%;
        padding: 20px 0 ;
    }
    @include mobile{
        width: 97%;
        padding: 10px;
    }
}

.sale__yellow{
    background-color: $yellow;
    color: $black;
    border: 1px solid $yellow;
}

.sale__black{
    background-color: $black;
    border: 1px dashed $white;
    color: $white;
}

.span__saleNum{
    font-size: 70px;
    font-weight: bold;
    @include mobile{
        font-size: 48px;
    }
}

.sale__numTxt{
    margin-left: 20px;
    font-size: 30px;
    @include mobile{
        font-size: 14px;
    }
}

.sale__img{
    bottom: -116%;
    left: 69%;
    z-index: 4;
    width: 477px;
    position: absolute;
    @include m-desk{
        bottom: 114%;
        width: 600px;
    }
    @include sm-desk{
        bottom: 114%;
        width: 450px;
    }
    @include tablet{
        bottom: 107%;
        left: 35%;
        width: 566px;
    }
    @include mobile{
        bottom: 102%;
        left: -2%;
        z-index: -10;
        width: 309px;
        position: absolute;
    }
}

.photo{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 50;
    @include mobile{
        margin-top: 0px;
        padding-top: 50px;
    }
}

.photo__txt{
    color: $black;
    width: 80%;
    font-weight: 700;
    padding-bottom: 15px;
    line-height: 57px;
    font-size: 42px;
    
    @include mobile{
        font-size: 20px;
        line-height: 30px;
    }
}

.geo{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    @include mobile{
        margin-top: 0px;
        padding-top: 50px;
    }
}

.geo__content{
    @include mobile{
        display: flex;
        flex-direction: column-reverse;
    }
}
.geo__txt{
    color: $black;
    width: 80%;
    font-weight: 700;
    padding-bottom: 15px;
    line-height: 57px;
    font-size: 42px;
    @include mobile{
        font-size: 20px;
        line-height: 30px;
    }
}

.geo__map{
    display: flex;
    z-index: 100;
    height: 520px;
    background-color: $white ;
    border: 4px solid $grey;
    @include m-desk{
       height: 400px;
    }
    @include sm-desk{
        height: 350px;
    }
    
    @include tablet {
        height: 350px;
    }
    @include mobile {
        height: 350px;
    }
}


.geo__formCont{
    background-color: $white;
    box-shadow: 0 .46875rem 2.1875rem rgba(90, 97, 105, .1), 0 .9375rem 1.40625rem rgba(90, 97, 105, .1), 0 .25rem .53125rem rgba(90, 97, 105, .12), 0 .125rem .1875rem rgba(90, 97, 105, .1);            
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    width: 25%; 
    left: 65%;
    @include sm-desk{
        width: 35%;
        left: 52%;
    }
    
    @include mobile {
        position: static;
        width: 100%;
        margin-top: 25px;
    }
}

.geo__container{
    width: 100%;
    border-top: 2px dashed $black;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.geo__num10{
    margin-top: 20px;
    width: 85%;
}

.geo__inputs{
    
    padding:  0 30px;
    @include mobile{
        padding: 0 20px;
    }
}

.geo__call{
    color: $black;
    font-weight: bold;
    padding:  0 30px;
    font-size: 25px;
    text-align: start;
    
    @include m-desk{
        font-size: 25px;
    }
    @include sm-desk{
        font-size: 23px;
    }
    @include tablet{
        font-size: 23px;
    }@include mobile{
        font-size: 23px;
    }
}

.geo__name{
    outline: none;
    width: 100%;
    height: 60px;
    border: none;
    background-color: inherit;
    font-weight: normal;
    font-size: 15px;
    border-bottom: 1px solid $grey;
    &::placeholder{
        color: $grey;
    }
    @include m-desk{
        font-size: 15px;
        height: 50px;
        width: 95%;
    }
    @include sm-desk{
        font-size: 11px;
        height: 40px;
        width: 100%;
    }
    @include tablet{
        font-size: 17px;
        height: 56px;
        margin-bottom: 5px;
        width: 100%;
    }
    @include mobile{
        font-size: 14px;
        height: 54px;
        margin-bottom: 5px;
        /* margin: 5px 0; */
        width: 100%;
    }
}

.geo__button{
    margin-top: 25px;
    border: 1px solid $yellow;
    color: $black;
    font-weight: 700;
    width: 100%;
    background: $yellow;
    &:hover{
        border: 1px solid $black;
        color: $black;
        background: $white;
    }
}



.geo__description{
    padding:  0 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: $lightgrey;
    font-size: 15px;
    line-height: 22px;
    
    @include m-desk{
        font-size: 12px;
        line-height: 18px;
        padding-top: 18px;
        padding-bottom: 28px;
    }
    @include sm-desk{
        font-size: 10px;
        line-height: 15px;
    }
    @include tablet{
        font-size: 12px;
        line-height: 18px;
        width: 87%;
        text-align: center;
    }
    
    @include mobile{
        font-size: 10px;
        line-height: 15px;
        width: 95%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
    }
}



.geo__a{
    color: $blue;
    text-decoration: underline;
    transition: .5s ease-out;
    &:hover{
        color: $lightgrey;
    }
}