<header></header>

<div class="big-banner">
    <div class="big-banner__content content1">
        <div class="big-banner__container">
            <h1 class="big-banner__txt">
                Аренда строительного оборудования
            </h1>
            <ul class="big-banner__adv">
                <li>Без залога</li>
                <li>С доставкой</li>
                <li>Широкий ассортимент</li>
                <li>Скидки на длительную аренду</li>
            </ul>
            <a href="" class="big-banner__button button-style">
                Хочу консультацию
            </a>
        </div>
        <img src="../../assets/img/drill.png" class="big-banner__imgDrill">
    </div>
</div>

<categories></categories>

<div class="how">
    <div class="how__content content1">
        <h2 class="how__txt">
            Как получить оборудование?
        </h2>
        <div class="how__container">
            <div class="how__leftside">
                <div class="how__row">
                    <div class="how__cont">
                        <img src="../../assets/img/01.png" alt="" class="how__num">
                    </div>
                    <div class="how__blockTxt">
                        <p class="how__txt2">
                            Выбираете нужное оборудование на сайте, либо звоните нам для консультации.
                        </p>
                    </div>
                </div>
                <div class="how__row">
                    <div class="how__cont">
                        <img src="../../assets/img/02.png" alt="" class="how__num2">
                    </div>
                    <div class="how__blockTxt border-style">
                        <p class="how__txt2">
                            Вы выбираете способ получения - <span class = "how__yellow">самовывоз или доставка оборудования</span>.
                        </p>
                    </div>
                </div>
                <div class="how__row">
                    <div class="how__cont">
                        <img src="../../assets/img/03.png" alt="" class="how__num">
                    </div>
                    <div class="how__blockTxt">
                        <p class="how__txt2">
                            В случае <span class = "how__yellow">самовывоза</span> вы приезжаете к нам на склад с паспортом и заключаете с нами <span class = "how__yellow">договор аренды</span>
                            <br><br>
                            В случае доставки оборудования вы указываете свой адрес на сайте либо при консультации с менеджером, доставщик привозит вам оборудование и вместе с ним вы заключаете  <span class = "how__yellow">договор аренды</span>
                        </p>
                    </div>
                </div>
                <div class="how__row">
                    <div class="how__cont">
                        <img src="../../assets/img/04.png" alt="" class="how__num2">
                    </div>
                    <div class="how__blockTxt border-style">
                        <p class="how__txt2">
                            Рассчитаться с вами мы можем <span class = "how__yellow">С НДС и БЕЗ НДС</span>, наличным или безналичным расчётом. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="how__rightside">
                <img src="../../assets/img/grinder.png" alt="" class="how__img">
                <a href="" class="how__button button-style">
                    Заказать оборудование
                </a>
            </div>
        </div>
    </div>
</div>

<div class="terms">
    <div class="terms__content content1">
        <h2 class="terms__txt">
            Условия доставки оборудования
        </h2>
        <div class="terms__container">
            <div class="terms__leftside">
                <p class="terms__description">
                    Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю )
                </p><br/>
                <p class="terms__description">
                    Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю позже)Ниже описаны условия доставки оборудования ( предоставлю )
                </p>
            </div>
            <img src="../../assets/img/zone.png" alt="" class="terms__zoneImg">  
        </div>
    </div>
</div>

<div class="sale">
    <div class="sale__content content1">
        <h2 class="sale__txt">
            Скидки на длительную аренду
        </h2>

        <div class="sale__numberProc">
            <div class="sale__yellow sale-style">
                <div class="span__saleNum">
                    10% 
                </div>
                <span class="sale__numTxt">
                    на аренду от 5 дней
                </span>
            </div>
            <div class="sale__black sale-style">
                <div class="span__saleNum">
                    20% 
                </div>
                <span class="sale__numTxt">
                    на аренду от 10 дней
                </span>
            </div>
        </div>

        <a href="" class="sale__button button-style">
            Заказать оборудование
        </a>
        
        <img src="../../assets/img/cube.png" alt="" class="sale__img">
    </div>
</div>

<div class="photo">
    <div class="photo__content content1">
        <h2 class="photo__txt">
            Фотографии склада
        </h2>
    </div>
</div>

<div class="geo">
    <div class="geo__content content1">
        <div class="geo__formCont">
            <div class="geo__container">
               <img src="../../assets/img/10.png" alt="" class="geo__num10">
            </div>
           
            <h3 class="geo__call">Заполни форму и получи скидку на первую аренду!</h3>
            <form  id="feedback1" class="form geo__inputs" >
                <input id="name" name="name1" class="geo__name input name" placeholder="Имя" type="text">
                <input id="phone" name="phone1" class="geo__name input phone" placeholder="Телефон" type="phone">
            
                <button id = "sendMail1"  type="button" class="geo__button button-style disabled">
                    Перезвонить мне
                </button>
            </form>
            <p class="geo__description">
                Нажимая кнопку я подтверждаю, что озакомился и согласен с условиями  <a href = "regulation.html"class = "geo__a">политики конфиденциальности</a>
            </p>
        </div>
        <div class="geo__cont">
            <h2 class="geo__txt">
                Наше местоположение
            </h2>
            <div class="geo__map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Abbfd7d4715a7a849a869e53dec3baf9d51508c25193663d2891603949be54aea&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>   
            </div>
        </div>
    </div>
</div>

<footer></footer>