/* You can add global styles to this file, and also import other style files */

@import '~src/app/services/styles/mixin';
@import '~src/app/services/styles/colors';

@font-face{
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf');
}


*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}


body {
    font-family: 'Roboto';
    font-weight: 300;
}



a{
    text-decoration: none;
    transition: .2s ease-out;
    &:hover{
        color: $grey !important;
    }
}



.body{
    overflow-x: hidden !important;
}

button{
    cursor: pointer;
    outline: none;
}

.content1{
	position: relative;
	max-width: 1454px;
	width: 100%;
	height: auto;
	margin: auto;
	@include l-desk{
		max-width: 1300px;
    }
	@include m-desk{
		max-width: 1200px;
    }
    @include sm-desk{
        max-width: 1000px;
    }
    @include tablet{
        max-width: 700px;
    }
	@include mobile{
        max-width: 300px;
		// padding: 0 20px;
		// box-sizing: border-box;
    }
}


.button-style{
    font-family: 'Roboto';
    line-height: 32px;
    text-align: center;
    transition: .5s ease-out;
    padding: 10px;
    width: 309px;
    font-size: 20px;
    @include m-desk{
        padding: 8px;
        width: 280px;
        font-size: 20px;
    }
    @include sm-desk{
        padding: 1px;
        width: 220px;
        font-size: 16px;
    }
    @include tablet{
        font-size: 25px;
        line-height: 37px;
        width: 376px;
    }
    @include mobile{
        width: 280px;
        font-size: 20px;
        margin-top: 0px;
    }
}